@font-face {
  font-family: 'mExtraBold';
  src: url(font/MontserratAlternates-ExtraBold.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f5f5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url(img/19366.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-family: montserrat;
  font-size: 30px;
  margin: 30px;
  color: #505050;
  font-weight: 700;
}


.logo {
  font-family: mExtraBold;
  color: #000000;
  font-weight: bold;
  font-size: 35px;
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

.txt-container {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}

.txt-container h3 {
  font-family: calibri;
  font-weight: bold;
  font-size: 50px;
  color: #6d6d6d;
  margin: 45px 6px 70px;
  line-height: 0px;
}

.txt-container h1 {
  font-family: calibri;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 100px;
  letter-spacing: 1px;
  margin: 45px 0px 70px;
  line-height: 0px;
}

.txt-container p {
  font-family: calibri;
  color: #403e3e;
  font-size: 30px;
  font-weight: bold;
  margin: 45px 6px 50px;
  line-height: 0px;
}

.txt-container button {
  width: 170px;
  height: 40px;
  border-radius: 10px;
  font-family: mExtraBold;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  margin: 0px 10px;
}

.klik-btn {
  border: 2px solid #373636;
  color: #373636;
}

.unduh-cv {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

button:active {
  transform: scale(1.1);
}

.model {
  border-radius: 100%;
  height: 350px;
  position: absolute;
  bottom: 25vh;
  left: 70%;
}

.about-container {
  width: 95%;
  height: 130vh;
  background-color: #f1f9fb;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7px auto -20px auto;
  position: relative;
}

.about-container div {
  font-family: montserrat;
  color: #403e3e;
  font-size: 25px;
  margin: 0px 50px 50px;
  line-height: 40px;
}

.footers {
  background-color: #f1f9fb;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: montserrat;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .model {
    height: 250px;
    left: 90%;
    transform: translate(-90%);
    bottom: 35vh;
  }

  .txt-container {
    top: 42%;
  }

  .txt-container h3 {
    font-size: 35px;
    margin: 45px 6px 50px;
  }

  .txt-container h1 {
    font-size: 70px;
    margin: 45px 0px 55px;
  }

  .txt-container p {
    font-size: 20px;
    margin: 45px 6px 45px;
  }

  .txt-container button {
    margin: 5px;
    width: 130px;
    height: 30px;
    font-size: 15px;
  }

  .about-container {
    height: 130vh;
    width: 90%;
    border-radius: 10px;
  }

  .about-container img {
    display: none;
  }

  .about-container h2 {
    margin-left: 0vh !important;
    font-size: 25px;
  }

  .about-container p {
    margin-left: 0vh !important;
    font-size: 20px;
  }

  .footers {
    font-size:20px;
  }

  .footers img {
    width: 100px;
  }
}

@media screen and (max-width: 460px){
section {
  width: 100%;
}
  nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    padding: 0px 5%;
    height: auto;
  }

  nav ul li a {
    font-family: montserrat;
    font-size: 15px;
    margin: 20px 15px;
    color: #505050;
    font-weight: 700;
  }

  .logo{
    display: none;
  }

  .model {
    height: 150px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .txt-container {
    top: 50%;
    left: 20%;
  }

  .txt-container h3 {
    font-size: 20px;
    margin: 45px 6px 40px;
  }

  .txt-container h1 {
    font-size: 30px;
    margin: 45px 0px 45px;
  }

  .txt-container p {
    font-size: 15px;
    margin: 45px 6px 30px;
  }

  .txt-container button {
    margin: 5px;
    width: 130px;
    height: 30px;
    font-size: 15px;
  }

  .about-container h2 {
    font-size: 30px !important;
  }

  .about-container p {
    font-size: 15px !important;
  }

  .footers {
    font-size:9px;
  }

  .footers img {
    width: 45px;
  }
}